version: "2"
services:
        server:
                build: .
                ports:
                        - "5000:5000"
                depends_on:
                        - mongodb
        mongodb:
                image: mongo
                ports:
                        - "27017:27017"
